.header {
  background-color: white;
  height: 100px;
  padding: 0;
  border-bottom: 1px solid lightgray;
}

.logo_container {
  width: 150px;
  height: 100px;
  background-color: white;
}

.logo_container img {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: contain;
}
